.blog-post {
    .title {
        font-weight: $weight-bold;
    }

    .intro {
        font-weight: $weight-normal;
        line-height: 1.4em;
        font-size: $size-5;
    }

    .blog-post-image {
        margin: 2.75em 0;
    }

    .author-info,
    .published-at {
        font-weight: bold;
    }

    .published-at {
        display: inline-block;
        margin-bottom: 1.65em;
    }

    .blog-post-films {
        border-top: solid 1px $dark;
        padding: 2.75em 0;
    }

    .blog-post-related {
        border-top: solid 1px $dark;
    }
}