.starred-films {
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 0;
            right: 1em;

            @include widescreen {
                top: 40%;
                right: 0;
                transform: translateY(-50%);
                width: 100%;
            }
        }

        .owl-prev {
            margin-right: 2rem;
        }

        .owl-prev,
        .owl-next {
            color: $body-background;
            border-color: $body-background;
            transform: scale(1.5, 1.5);

            &:hover,
            &:active,
            &:focus {
                color: $light;
                border-color: $light;
            }
        }

        @include widescreen {
            .owl-prev {
                position: absolute;
                left: 2rem;
            }
            .owl-next {
                position: absolute;
                right: 2rem;
            }
        }
    }

    .more-films {
        .button {
            width: 100%;
        }
    }
}

.starred-blog-posts {
    border-top: solid 1px $dark;
    padding-top: 1em;
    margin-top: 2.75em;

    > .title {
        font-weight: $weight-bold;
    }

    .column {
        padding: 0 0.75rem;
    }
}