.submit-film {
    .form-aside-info {
        p {
            padding-bottom: 0.75em;
            margin-bottom: 0.75em;

            &:not(:last-child) {
                border-bottom: solid 1px $dark;
            }
        }
    }

    .label {
        display: none;
    }

    .button {
        width: 100%;
    }

    @include tablet {
        .columns {
            flex-direction: row-reverse;
        }
    }
}