.film-summary-fullwidth {
    .title {
        color: $link;
        font-weight: $weight-bold;
        margin-bottom: 1.25em;
    }

    .film-link {
        &:hover,
        &:focus,
        &:active {
            .title {
                color: $link-hover;
            }
        }
    }
}