.film-summary {
    margin-bottom: 1em;

    .title {
        color: $link;
        font-weight: $weight-bold;
        margin-top: 0.5em;
    }

    .image {
        &::after {
            @include image-overlay;
            opacity: 0;
            transition: opacity $speed-1;
        }
    }

    .film-link {
        &:hover,
        &:focus,
        &:active {
            .image {
                &::after {
                    opacity: 1;
                }
            }
            .title {
                color: $link-hover;
            }
        }
    }

    &.is-vod {
        .title,
        .subtitle {
            color: $white;
        }

        .image-actions-wrapper {
            position: relative;

            .actions {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .action {
            background-color: rgba($black, 0.75);
            color: $white;
            width: 100%;
            padding: 0.75rem 0;
            text-align: center;
            border-top: solid 1px $white;

            a {
                color: $white;
            }

            @include tablet {
                font-size: $size-5;
                font-weight: $weight-bold;
            }
        }

        .price {
            background-color: $grey-light;
            color: $white;
            width: 100%;
            padding: 0.75rem 0;
            text-align: center;

            @include tablet {
                font-size: $size-5;
                font-weight: $weight-bold;
            }
        }

        .film-hover-wrapper {
            &:hover,
            &:focus,
            &:active {
                cursor: pointer;

                .actions {
                    display: block;
                }
            }
        }
    }
}