@import "node_modules/owl.carousel/src/scss/owl.carousel";

$color-base:			$link-hover !default;
$color-white:			$white !default;
$color-gray:			$dark !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$link-hover !default;
$nav-font-size: 		$size-6 !default;
$nav-rounded: 			3px !default;
$nav-margin: 			.25em !default;
$nav-padding: 			.25em .5em !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	transparent !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

.owl-theme {
    // Styling Next and Prev buttons
    .owl-nav {
        margin-top: 1rem;
        -webkit-tap-highlight-color: transparent;

        [class*='owl-'] {
            color: $link;
            border: solid 1px $link;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            height: 2rem;
            min-height: 2rem;
            width: 2rem;
            min-width: 2rem;
            position: relative;

            font-family: 'icomoon' !important;
            font-size: 0;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:hover {
                background: $nav-background-hover;
                color: $nav-color-hover;
                border: solid 1px $nav-color-hover;
                text-decoration: none;
            }
            &::after {
                font-size: $size-5;
                display: inline-block;
                line-height: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .owl-prev {
            margin-right: 1rem;
        }
        .owl-prev:after {
            content: "\f0da";
            transform: translate(-50%, -50%) rotate(180deg);
        }
        .owl-next:after {
            content: "\f0da";
        }
        .disabled {
            opacity: $nav-disabled-opacity;
            cursor: default;
        }
    }

    // Styling dots
    .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
    }

    .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent;

        .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;

            span {
                width: $dot-width;
                height: $dot-height;
                margin: $dot-margin;
                background: $dot-background;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity 200ms ease;
                border-radius: 30px;
            }

            &.active,
            &:hover {
                span {
                    background: $dot-background-active;
                }
            }
        }
    }
}