.cookie-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary;
    color: findColorInvert($primary);
    border-top: 2px solid $white;
    padding: 0.5em 2.5em;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        margin-left: 1em;
    }
}