$nav-height: 3.25em;
$nav-height-tablet: 6.5em;

.nav-opener {
    background-color: $body-background;
    padding: 1em 0.75em 0.5em;
    cursor: pointer;
    position: absolute;
    top: -0.5em;
    left: 3em;
    user-select: none;

    @include tablet {
        left: 6em;
    }

    &::after {
        content: " ";
        position: absolute;
        top: 3.15em;
        left: 0;
        display: block;
        width: 0;
        height: 0;
        border-left: 1.55em solid transparent;
        border-right: 1.563em solid transparent;

        border-top: 0.938em solid $body-background;
    }

    &:hover,
    &:active,
    &:focus {
        animation: shake-vertical 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    &.is-active {
        top: $nav-height;
        @include tablet {
            top: $nav-height-tablet;
        }

        &::after {
            border-top: 0;
            border-left-color: $body-background;
            border-right-color: $body-background;
            border-bottom: 0.938em solid transparent;
        }

        &:hover,
        &:active,
        &:focus {
            animation: none;
        }
    }
    &.is-closed {
        top: 0;
    }

    .logo-n {
        width: 1.563em;
        height: 1.625em;
        vertical-align: middle;
    }
}
