////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables

// Colors
$grey-dark: #4A4A4A;
$grey: #777777;
$grey-light: #7b7b7b;

// Typography
$family-sans-serif: 'Roboto', sans-serif;

$size-1: 5.3rem;
$size-2: 3.5rem;
$size-3: 2.3rem;
$size-4: 1.7rem;
$size-5: 1.35rem;
$size-6: 1rem;
$size-7: 0.9rem;

$weight-normal: 400;
$weight-bold: 700;

// Body
$body-background: $white;
$body-size: 16px;

// Miscellaneous
$easing: ease-out;
$radius: 0;
$speed: 86ms;
$speed-1: 172ms;
$speed-2: 258ms;
$speed-3: 344ms;
$speed-4: 430ms;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $black;
$light: $grey;
$dark: $grey-dark;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Applied variables

// General colors
$body-background: $white;
$background: $primary;
$border: $grey;

// Text colors
$text: $grey-dark;
$text-light: $grey;
$text-strong: $black;

// Link colors
$link: $grey;
$link-visited: $link;
$link-hover: $dark;
$link-hover-border: $dark;
$link-focus: $dark;
$link-focus-border: $dark;
$link-active: $dark;
$link-active-border: $dark;

// Typography
$family-primary: $family-sans-serif;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;
